<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Sps</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="http://www.orgsin.com">Official Site</a></li>
    </ul>
  </div>
</nav>
